/* Adiciona o estilo para o modal */


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo semi-transparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    /* Garante que o modal esteja acima dos outros elementos */
}

.modal-content {
    background: rgb(76, 76, 76);
    padding: 20px;
    border-radius: 8px;
    width: 95%;
    max-width: 650px;
    height: 650px;
    margin-top: -4rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Estilo para o botão de fechamento do modal */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

/* Estiliza o container do formulário dentro do modal */
.addGroup {
    flex: 1;

    label {
        width: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: underline;

        img {
            width: 50px;
            height: 50px;
            border-radius: 10px;
            object-fit: cover;
            opacity: 0.6;
        }

        p {
            margin-top: 10px;
            margin-left: 10px;
            font-family: "sans-serif";
        }
    }

    .select {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 10px;

        .selects {
            flex: 1;
            background-color: rgba(0, 0, 0);
            display: flex;
            align-items: center;
            gap: 20px;
            border-radius: 10px;
            padding: 10px;
        }

        input {
            background-color: transparent;
            border: none;
            outline: none;
            color: white;
            flex: 1;
        }
    }

    .item {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
        cursor: pointer;
        border-bottom: 1px solid #dddddd35;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }

        .text {
            display: flex;
            flex-direction: column;
            gap: 10px;

            span {
                font-weight: 500;
            }

            p {
                font-size: 14px;
            }
        }

    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 5px;
        background-color: #1a73e8;
        color: white;
        border: none;
        cursor: pointer;
        margin: auto;
        margin-top: 15px;
    }

}